@model ViewModel_Fun.Models.User
@{
    ViewData["Title"] = "SingleUser";
}
<div class="text-center">
    <h1 class="display-4">Here is a User!</h1>
    <h1 class=mt-5>@Model.FirstName @Model.LastName</h1>
</div>